@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-priamary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d86a1;
  --color-info-light: #dce1ed;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9f3;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: visible;
  color: var(--color-dark);
  background-color: var(--color-background);
}
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
}

a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}
h3 {
  font-size: 0.8rem;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  border: 50%;
}

aside {
  height: 100vh;
  position: fixed;
}
aside .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .logo img {
  width: 2.8rem;
  height: auto;
}
aside .close {
  display: none;
}
aside .sidbar {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  height: 86vh;
  top: 3rem;
  position: relative;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}
aside h3 {
  /* font-weight: 500; */
  font-weight: bold;
}

aside .sidbar a {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: var(--color-info-dark-dark);
  gap: 1rem;
  position: relative;
  height: 3.7rem;
  transition: all 0.3s ease;
}

aside .sidbar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
}
.sidbar a {
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.sidbar a:hover {
  background: var(--color-light);
  color: var(--color-priamary);
  margin-left: 1px;
  border-radius: 3px;
}
.sidbar a:hover span {
  margin-right: 1rem;
}
.sidbar a:focus {
  background: var(--color-light);
  color: var(--color-priamary);
}
.sidbar a:focus:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-priamary);
}

iframe {
  display: block;
  scrollbar-width: none !important;
  flex-grow: 1;
  margin-left: 15rem;
  border: none !important;
  overlay: none;
  overflow-y: hidden;
  overflow-x: hidden;
}
#Iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}
